////////////////////////////////////////////////////////////////////////////////
// Variables
////////////////////////////////////////////////////////////////////////////////
:root {
	--primary-color: #000;
	--secondary-color: #fff;
	--acent-color: #1bc5bb;
}

////////////////////////////////////////////////////////////////////////////////
// General
////////////////////////////////////////////////////////////////////////////////
html {
	background-color: var(--secondary-color);
}

body {
	font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
	font-size: 10pt;
	color: var(--primary-color);
}

img {
	display: block;
	width: 100%;
}

a {
	color: var(--acent-color);
	text-decoration: none;
}



///////////////////////////////////////////////////////////////////////////////
// Utilite classes
////////////////////////////////////////////////////////////////////////////////
.hide {display: none!important;}

.vhide {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	border: 0 !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0 0 0 0) !important;
}

////////////////////////////////////////////////////////////////////////////////
// .wrapper
////////////////////////////////////////////////////////////////////////////////
.wrapper {
	position: relative;
	max-width: 1400px;
	padding: 0 24px;
	margin: 0 auto;
}